:root {
  --bec-control-height: var(--bec-ref-space-32);
  --bec-header-padding: var(--bec-ref-space-16);
  --bec-navigation-width: calc(var(--bec-ref-space-64) * 4);
  --bec-dialog-width: calc(var(--bec-ref-space-64) * 12);
  --bec-panel-padding: var(--bec-ref-space-16);
}
