* text=auto

*.sh text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.md text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.pptx binary
*.zip binary
*.jar binary
